# Xổ số Miền Nam (XSMN) Analysis

Sử dụng GitHub Action để tự động hoá thu thập và phân tích kết quả xổ số miền Nam hàng ngày.

Dự án này dựa trên [khiemdoan/vietnam-lottery-xsmb-analysis](https://github.com/khiemdoan/vietnam-lottery-xsmb-analysis), chuyển đổi từ XSMB sang XSMN.

{% for station in station_results %}
## {{ station.station_name }} ({{ station.last_date }})

| Giải | Kết quả |
| :--- | :------ |
| Đặc biệt | **{{ "{:06}".format(station.special) }}** |
| Giải nhất | {{ "{:05}".format(station.prize1) }} |
| Giải nhì | {{ "{:05}".format(station.prize2) }} |
| Giải ba | {{ "{:05}".format(station.prize3_1) }}, {{ "{:05}".format(station.prize3_2) }} |
| Giải tư | {{ "{:05}".format(station.prize4_1) }}, {{ "{:05}".format(station.prize4_2) }}, {{ "{:05}".format(station.prize4_3) }}, {{ "{:05}".format(station.prize4_4) }}, {{ "{:05}".format(station.prize4_5) }}, {{ "{:05}".format(station.prize4_6) }}, {{ "{:05}".format(station.prize4_7) }} |
| Giải năm | {{ "{:05}".format(station.prize5) }} |
| Giải sáu | {{ "{:04}".format(station.prize6_1) }}, {{ "{:04}".format(station.prize6_2) }}, {{ "{:04}".format(station.prize6_3) }} |
| Giải bảy | {{ "{:03}".format(station.prize7) }} |
| Giải tám | {{ "{:02}".format(station.prize8) }} |

### Dữ liệu

|          | CSV | JSON | Parquet |
|----------|-----|------|---------|
| Raw      | [{{ station.station_code }}.csv](data/{{ station.station_code }}.csv) | [{{ station.station_code }}.json](data/{{ station.station_code }}.json) | [{{ station.station_code }}.parquet](data/{{ station.station_code }}.parquet) |
| 2-digits | [{{ station.station_code }}-2-digits.csv](data/{{ station.station_code }}-2-digits.csv) | [{{ station.station_code }}-2-digits.json](data/{{ station.station_code }}-2-digits.json) | [{{ station.station_code }}-2-digits.parquet](data/{{ station.station_code }}-2-digits.parquet) |
| Sparse   | [{{ station.station_code }}-sparse.csv](data/{{ station.station_code }}-sparse.csv) | [{{ station.station_code }}-sparse.json](data/{{ station.station_code }}-sparse.json) | [{{ station.station_code }}-sparse.parquet](data/{{ station.station_code }}-sparse.parquet) |

<details>
  <summary>Phân tích</summary>

  Max: {{ station.max_count }}. Min: {{ station.min_count }}.

  Mean: {{ station.mean }}. Standard deviation: {{ station.std }}.

  ![Heatmap](images/{{ station.station_code }}/heatmap.jpg)

  ![Top 10](images/{{ station.station_code }}/top-10.jpg)

  ![Distribution](images/{{ station.station_code }}/distribution.jpg)

</details>

---
{% endfor %}
